
.find .section-find-options {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.find .section-find-options .section-find-option .section-find-option--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.find .section-find-options .section-find-option .section-find-option--item i {
    font-size: 2rem;
    margin-bottom: 10px;
}

.section-find-option--title {
    font-size: 1rem;
}
.section-find {
    padding: 10px;
    font-size: 1.4rem;
}

.section-find .section-find-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #AAA9B3;
    padding-top: 10px;
    border-top: 1px solid rgba(90, 88, 100, 0.8);
}

.section-find-row {
    padding: 20px 10px;
    display: flex;
    align-items: center;
}

.section-find__column {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}

.section-find__column img {
    width: 85px;
    height: 80px;
    border-radius: 30px;
    background-color: #ffffff;
}
 
.section-find__column:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}

.section-find__column:nth-child(2) > span:first-child {
    margin-bottom: 5px;
}

.section-find--tagline {
    font-size: 1rem;
    color: #AAA9B3;
}

.section-find__column:nth-child(3) {
    flex-grow: 1;
    color: #AAA9B3;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.section-find__column:nth-child(3) i {
    padding: 15px;
    border: 1px solid #26252D;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #26252D;
}