
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 10px;
    background-color: #2D2B35;
    color: #ffffff;
    z-index: 10;
}

.header--background-color-transparent {
    background-color: transparent;
}

.header-top,
.header-bottom {
    display: flex;
    justify-content: space-between;
}

.header-top {
    margin-bottom: 20px;
    font-size: 1rem;
}

.header-bottom {
    font-size: 1.6rem;
}

.header-top .header-top__column,
.header-bottom .header-bottom__column {
    /* flex: flex-grow, flex-shrink, flex-basis */
    flex: 1 1 33%;
}

.header-top .header-top__column:nth-of-type(2) {
    text-align: center;
}

.header-top .header-top__column:last-child,
.header-bottom .header-bottom__column:last-child {
    text-align: right;
}

.header-bottom .header-bottom__column:first-child {
    padding-left: 10px;
}

.header-bottom .header-bottom__column:last-child i {
    margin: 0 10px;
}

.header-bottom .header-bottom__search,
.header-bottom .header-bottom__create-chats {
    text-decoration: none;
    color: #ffffff;
}

.header-bottom__column img {
    width: 45px;
    height: 40px;
    border-radius: 15px;
}

a.header-bottom__column {
    color: #ffffff;
}